body {
    background-color: #0f172a;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.quiz-container {
    background: #020617;
    padding: 30px;
    width: 450px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba (0,0,0,0,6);
}

h1 {
    font- size: 26px:;
    margin-bottom: 20px;
}

.option {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.option:hover {
    background-color: #38bdf8;
}

#nextBtn {
    margin-top: 15px;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
}